name: flutter_app
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.2

  # QR Code Generator
  qr_flutter: ^4.0.0

  # Firebase
  firebase_core: ^3.7.0
  firebase_database: ^11.0.16

  # PDF / Drucken
  pdf: ^3.10.4
  printing: ^5.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
